.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 2%;
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .primary ul {
    justify-content: flex-end;
    font-size: 12px;
  }
  .secondary ul {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
  }
  li {
    display: inline-block;
    white-space: nowrap;
    padding: 0% 12px;
  }
}
